html {
    font-size: 100%;
}

.hide {
    display: none;
}

.no-mobile {
    display: none;
}

@media (min-width: 568px) {
    .no-mobile {
        display: block;
    }
    td.no-mobile {
        display: table-cell;
    }
}


/* button {
    min-width: 6rem;
} */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


/* EditPerson component */
.editPerson {
    display: flex;
    margin-bottom: 5rem;
}

.editPerson > div {
    flex-basis: 40%;
}

.editPerson > button {
    flex-basis: 20%;
}


/* According Heading */
.flex-column {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
}

.accordion-button > div {
    flex: 1 1 200px;
}


/* Transactions Table */
table {
    text-align: left;
}

table .form-floating > label {
    padding-block: 1.5rem;
}

.tr > .date {
    min-width: 15%;
}

.tr > .category {
    min-width: 25%;
}

.tr > .description {
    min-width: 45%;
}

.tr > .amount {
    min-width: 15%;
    text-align: right;
}

table button {
    text-align: center;
}

/* Transactions Table as Divs */

.table {
    display: table;
}

.td, .th {
    display: table-cell;
}

.tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.thead > .tr {
    font-weight: bold;
}

.highlight {
    background-color: indianred;
}