/* Base styling */

html {
    font-size: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.no-mobile {
    display: none;
}

@media (min-width: 576px) {
    .no-mobile {
        display: block;
    }
    td.no-mobile {
        display: table-cell;
    }
}

/* button {
    min-width: 6rem;
} */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


/* Accordion */
.accordion {
    --bs-accordion-active-color: #000;
    --bs-accordion-active-bg: #e4e7eb;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 0.25rem;
    /* --bs-border-color: #dee2e6; */
}

.accordion-collapse {
    border: 1px solid var(--bs-border-color);
    border-top: none;
    box-shadow: 0 0 2px 1px var(--bs-border-color);
}

.accordion-button:focus {
    box-shadow: 0 0 0 .25rem rgba(161, 197, 245, 0.75);
}


@media (min-width: 576px) {
    .accordion {
        --bs-accordion-body-padding-x: 1.25rem;
    }
}





/* MemberEdit / MemberNew components */
.flex-form {
    display: flex;
    margin-bottom: 5rem;
}

.flex-form > div {
    flex-basis: 40%;
}

.flex-form > button {
    flex-basis: 20%;
}


/* According Heading */
.flex-column {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
}

.accordion-button > div {
    flex: 1 1 200px;
}


/* Grid Table */

/* General styling */
div.rgt-cell-header, div.rgt-cell-header-inner {
    background: #e4e7eb;
}

.rgt-cell-inner {
    text-align: left;
}

 /* Corresponds to the amount column (numeric) */
.rgt-cell[data-column-id='5'] > div {
    text-align: right;
}

/* Hover/selected/selectable behaviour */
.rgt-cell:not(.rgt-row-edit):not(.rgt-row-not-selectable) {
    cursor: pointer;
}

div.rgt-row-selected {
    background: #f3f6f9;
}

div.rgt-row-hover {
    background: #f7f7f7;
    opacity: 1;
}

/* Unsticky last column on mobile */
.rgt-cell.rgt-cell-pinned-right, .rgt-cell-header.rgt-cell-header-pinned-right {
    position: static;
}

@media (min-width: 768px) {
    .rgt-cell.rgt-cell-pinned-right, .rgt-cell-header.rgt-cell-header-pinned-right {
        position: sticky;
    }

    @media (hover: hover) {
        button[title='Edit'] {
            opacity: 0.5;
        }

        button[title='Edit']:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}


/* Repayments box */

#repayments {
    max-width: 578px;
    margin: 0 auto;
}

.repayment {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.card-body, .card-header {
    padding-inline: 2rem;
}

strong {
    font-weight: bold;
}