.accordion {
    --bs-accordion-active-color: #000;
    --bs-accordion-active-bg: rgb(190, 190, 190);
    --bs-accordion-btn-focus-box-shadow: none;
    /* --bs-border-color: #dee2e6; */
}

.accordion-collapse {
    border: 1px solid var(--bs-border-color);
    border-top: none;
    box-shadow: 0 0 2px 1px var(--bs-border-color);
}

.accordion-button:focus {
    /* outline: 2px solid orange; */
    box-shadow: 0 0 0 .25rem var(--bs-border-color);
}

html {
    font-size: 100%;
}

.hide {
    display: none;
}

.no-mobile {
    display: none;
}

@media (min-width: 568px) {
    .no-mobile {
        display: block;
    }
    td.no-mobile {
        display: table-cell;
    }
}


/* button {
    min-width: 6rem;
} */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


/* EditPerson component */
.flex-form {
    display: flex;
    margin-bottom: 5rem;
}

.flex-form > div {
    flex-basis: 40%;
}

.flex-form > button {
    flex-basis: 20%;
}


/* According Heading */
.flex-column {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
}

.accordion-button > div {
    flex: 1 1 200px;
}


/* Transactions Table */
table {
    text-align: left;
}

table .form-floating > label {
    padding-block: 1.5rem;
}

.tr > .date {
    min-width: 15%;
}

.tr > .category {
    min-width: 25%;
}

.tr > .description {
    min-width: 45%;
}

.tr > .amount {
    min-width: 15%;
    text-align: right;
}

table button {
    text-align: center;
}

/* Transactions Table as Divs */

.table {
    display: table;
}

.td, .th {
    display: table-cell;
}

.tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.thead > .tr {
    font-weight: bold;
}

.btn-row > button {
    margin-inline: 1rem;
}

.table .highlight {
    background-color: #eee;
    border-radius: 5px;
}

/* Grid Table */
.rgt-cell:not(.rgt-row-edit):not(.rgt-row-not-selectable) {
    cursor: pointer;
}

.rgt-row-selected {
background: #f3f6f9;
}

.rgt-row-hover {
background: #f7f7f7;
}
